.file-name{
    font-size: 0.9rem;
    border: 1px solid #ddd;
    display: inline-block;
    padding: 0 0.5rem;
    color: #848282;
    line-height: 1.7;
    border-radius: 0.5rem;
}   

.page-404{
    height: calc( 100vh - 150px );  
}