.btn-sync{
    border: 1px solid #ddd;
    font-size: 0.8rem;
    display: inline-block;
    line-height: 2.1;
    text-align: center;
    border-radius: 2rem;
    color: #fff; 
    width: 108px; 
    
    &:hover{
        text-decoration: none;
        color: #fff;
    }
}