.btn-sync{
    border: 1px solid lighten($frame-color-primary, 50%);       
    font-size: 0.75rem;
    display: inline-block;
    line-height: 2.3;
    text-align: center;
    border-radius: 2rem;
    color: lighten($frame-color-primary, 10%); 
    width: 108px; 

    .fa-check{
        color: $frame-color-success;
    }
    
    &:hover{
        text-decoration: none;
        color: lighten($frame-color-primary, 10%); 
    }
}