.vh-100{
    height: 100vh;
}

.frame-btn-color{
    background-color: $frame-color-primary;
    transition: all 0.3s ease-in-out;
    color: $frame-color-white;
    
    &:hover{
        background-color: darken( $frame-color-primary, 5% );
        color: $frame-color-white;
    }
}

.not-allow{
    pointer-events: none;
    cursor: not-allowed;  
}

.bg-frame-primary{
    background-color: $frame-color-primary;
}

.bg-blue{
    background-color: #426E9A;
}