$get-code-size: 2.5rem;
$get-code-bg-color: #34395B;
$get-code-text-color: #fff;
$get-code-shadow-color: $frame-color-primary;

.get-code{
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 0.9rem;
    color: $get-code-bg-color;
    font-weight: bold;
    
    .text{
        transform: translateX(-0.8rem);
        display: inline-block; 
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .code-icon{
        display: inline-block;
        width: $get-code-size;
        height: $get-code-size;
        border-radius: 50%;
        line-height: $get-code-size;
        text-align: center;
        font-size: 0.9rem;
        margin-left: 0.1rem;
        color: $get-code-text-color;
        box-shadow: 0 0 0 0 rgba($get-code-shadow-color, 0.4);
        transition: all 0.2s ease-in-out;
    }

    &:hover{
        text-decoration: none;
        color: $get-code-bg-color;

        .text{
            transform: translateX(-0.2rem);  
            opacity: 1;
        }
        .code-icon{
            box-shadow: 0 0 0 6px rgba($get-code-shadow-color, 0.4);
        }
    }

}

pre[class*="language-"]{
    border-radius: 0 !important;
}