.modal-lg{
    max-width: -webkit-calc( 100% - 20px);
    max-width: calc( 100% - 20px);
}

.modal {
    padding-left: 0!important; 
}
.modal-dialog {
    margin: 10px auto;
}

.modal-backdrop{
    &.show{
        opacity: 1;
    }
    
    background-color: $color_white;
}