/* BASIC COLOR */
$color_primary        : #7469ff !default; 
$color_black          : #000 !default;
$color_error          : rgb(252, 130, 130) !default; 
$color_white          : #fff !default;
$color_dark_white     : #FCFAFA !default;
$border_color         : #EDEDED !default;
$border_color_sec     : #D9D9D9 !default;
$color_yellow         : #FEC000 !default;
$color_success        : #27BA4B !default;


/* FONTS */
$font-primary   : 'Open Sans';
$font-awesome   : 'FontAwesome';
$root-font-size : 16px; 
$prefix         : 'md'; 


/* FONT WEIGHT */
$font-weight-light  : 300;
$font_weight-normal : 400;
$font-weight-semi_bold: 500;
$font-weight_bold   : 700;
$font-weight-bolder : 900;



