$back-arrow-color: $frame-color-primary;
.back-arrow{
    a{
        color: $back-arrow-color;
        font-size: 1rem;

        &:hover{
            color: darken($back-arrow-color, 20%);
        }

    }
}