$active-menu-color : darken( #34395B, 7% );
$menu-text-color : $color_white;

.menu-title{
    font-size: 0.8rem;
    padding-left: 1rem;
    margin: 2rem 0 1rem;
    font-weight: 500;
    color: lighten( $frame-color-primary, 30% );
}


.main-navigation{
    list-style: none;
    max-height: calc( 100vh - 65.7px);
    overflow: auto;


    > ul{
        > li{
            &.open{
               > a{
                    background: #26262626;
                }
            }

            > a{
                text-transform: uppercase;
                font-weight: 500;
            }

            ul{
                padding-left: 0.5rem;
                a{
                    padding: 0.5rem 0.7rem 0.5rem 1.4rem;
                }
            }
        }
    }

    ul{
        padding: 0;
        list-style: none;

        ul{
            display: none;

            li{
                &.active{
                    a{
                        &:before{
                            content: "";
                            width: 8px;
                            height: 8px;
                            background: $frame-color-primary;
                            display: inline-block;
                            border-radius: 50%;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }

        li{
            color: $menu-text-color;
            font-size: 0.85rem;
            text-transform: capitalize;
            position: relative;
            -webkit-transform: perspective(1px) translateZ(0);
            -moz-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);

            &.open{
                .icon svg{
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg);
                }
            }

            .icon{
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                line-height: 3.2;
                font-size: 0.8rem;
                width: 34px;
                z-index: -1;
                text-align: center;
                
                svg{
                    -webkit-transition : all 0.3s ease-in-out;
                    transition : all 0.3s ease-in-out;
                }
            }
        }

        a{
            position: relative;
            color: inherit;
            display: block;
            padding:0.7rem 0.7rem 0.7rem 1.4rem;
            color: $frame-color-primary;
            font-size: 0.8rem;

            &:hover{
                text-decoration: none;
            }
        }
    }


}