$dz-color-black: #000;

.dz-clickable{
    padding: 4rem;
    border: 1px dashed #ddd;
    cursor: pointer;
    text-align: center;
    position: relative;
  
    .upload-file-info{
        position: relative;
        z-index: -1;
        h3{
            font-size: 1.3rem;
            margin-top: 1rem;
            color: #484848; 
            margin-bottom: 0;
        }
    
        .file-type{
            font-size: 0.7rem;
            color: lighten( $dz-color-black, 40% );
        }
    }
}


$circle-width: 120px;
$circle-bg-color: #f7f7f7;

.circle{
    width: $circle-width;
    height: $circle-width;
    line-height: $circle-width;
    background-color: $circle-bg-color;
    display: inline-block;
    font-size: 4rem;
    border-radius: 50%;
    //box-shadow: 0 0 0 0.5rem lighten( $circle-bg-color, 10% );
    color: darken( $circle-bg-color, 40% );
}


$dorp-flile-bg-color: #404565;
.drop-file-text{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba( $dorp-flile-bg-color, 0.85 );
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    z-index: -10;

    .fa-image{
        font-size: 5rem;
    }

    h2{
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

.dz-drag-hover{
    .upload-file-info{
        visibility: hidden;
    }

    .drop-file-text{
        visibility: visible;
        opacity: 1;
    }
}